{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Classes Section Start  -->
<main id="classes">
  <div class="container  mt-5 mb-5">
    <!-- Section Head start  -->
    <h2 class="h2-responsive fw-bold text-center my-2">Classes</h2>
    <p class="text-center w-responsive mx-auto  mt-3 mb-3"> SP Anglo Academy offers education from <b style="color: red;">Nursery to Class
        8</b> , focusing on foundational skills, academic excellence, and holistic development. The curriculum
      includes core subjects, extracurricular activities, and values-based education, aiming to nurture young minds
      with a structured and supportive learning environment.</p>
    <!-- Section Head End  -->
  </div>
</main>
<!-- Classes Section End  -->


<!-- Facilities Section Start  -->
<main id="facilities" class="facilities">
  <div class="container  mt-5 mb-5">
    <!-- Section Head start  -->
    <!-- Facilities Sections  -->
    <h2 class="h2-responsive fw-bold text-center my-2">Our Facilities</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school14.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Classrooms</h4>
            <p class="card-text">Well-equipped, spacious classrooms with modern teaching aids.</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school18.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Computer Labs</h4>
            <p class="card-text">Computers and digital resources for tech-based learning.</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school9.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Science Labs</h4>
            <p class="card-text">Laboratories for hands-on experiments and learning in science subjects.</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school10.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Art and Music Rooms</h4>
            <p class="card-text">Spaces dedicated to creative arts and musical education</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school12.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Sports Facilities</h4>
            <p class="card-text">Playgrounds and equipment for various sports and physical activities.</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card box">
          <img src="{% static 'images/school13.jpg' %}" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title section-heading">Bus Facility</h4>
            <p class="card-text">Safe and convenient transportation for students to and from school.</p>
            <a href="" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>
      <!-- Section Head End  -->
    </div>
</main>
<!-- Facilities Section End  -->

{% endblock %}