{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Gallary start  -->
<main class="mt-5">
    <div class="container ">
      <!-- Section Head Start  -->
      <h2 class="h2-responsive  fw-bold text-center my-2">Gallary</h2>
      <p class="text-center w-responsive mx-auto mb-1">Welcome to the SP Anglo Academy Gallery, where we showcase the vibrant and dynamic experiences that make our school community truly special. Our gallery provides a visual journey through the various activities, events, and everyday moments that highlight the essence of student life and achievements at our academy.Celebrate the accomplishments of our students in academic and extracurricular fields. The gallery includes photos of award ceremonies, student presentations, and other milestones that illustrate their hard work and dedication.
      </p>
      <!-- Section Head Start  -->

      <!-- Gallery -->
      <div class="row pt-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img src="{% static 'images/school17.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school5.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/school15.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school3.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/school8.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school20.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/school4.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school5.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/school6.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school7.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/school1.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />

          <img src="{% static 'images/school2.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4" />
        </div>
      </div>
      <!-- Gallery -->
    </div>
  </main>
  <!-- Gallary end  -->

{% endblock  %}