{% extends "base.html" %}
{% block home_status %}active{% endblock home_status %}
{% load static %} 

{% block content %}

<!-- Carousel Start here  -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
        aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
        aria-label="Slide 8"></button>
        

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/school3.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school2.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school1.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school4.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src=" {% static 'images/school5.jpeg' %} " class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school6.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school7.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/school20.jpeg' %}" class="h-100 w-100" alt="...">
        <div class="carousel-caption  d-block">
          <h2><span>S.P. ANGLO ACADEMY </span>, NONEYA</h2>
          <p>Experience a vibrant learning environment where academic excellence meets holistic development. Explore our state-of-the-art facilities, dedicated faculty, and dynamic extracurricular programs. Join us in nurturing future leaders and innovators in Noney, East Champaran. Discover more about our commitment to your child's growth and success.



          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Carousel end here -->

{% endblock  %}